:root {
    --disc-main: red;
    --disc-shadow: darkred;
    --pole-main: lightgray;
    --pole-shadow: gray;
    /* debug colors */
    --debug-1: magenta;
    --debug-2: cyan;
    --debug-3: lime;
    /* "perspective" constants, changes ratio of width:height */
    --tower-dx: 5em;
    --tower-dy: 2em;
    /* changes overall scaling */
    --scale: 0.8rem;
    /* extra lighting effects */
    --shadow: inset -2px -1px 0 4px rgba(0,0,0,0.2);
    --hightlight: inset 2px 2px 0px 2px rgba(255,255,255,0.4)
}

html, body {
    margin: 0;
    height: 100%;
    font-size: var(--scale);
}

section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.polegroup {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50px;
    height: 100%;
    flex-grow: 1;
    outline: 1px dashed magenta;
    margin: 0 10px;
}

.pole { /*main body of pole*/
    position: absolute;
    background: var(--pole-shadow);
    bottom: 0px;
    height: 55%;
    width: var(--tower-dx);
}
.pole:before, .disc:before { /*top part of pole, also hole in disc*/
    content: ' ';
    position: absolute;
    background: var(--pole-main);
    /* base dimensons on constant global size */
    font-size: var(--scale);
    width: var(--tower-dx);
    height: var(--tower-dy);
    /* ellipse borders */
    border-radius: 100%;
    /* for poles, move down by half the height */
    margin-top: calc(-1 * calc(var(--tower-dy) / 2));
}

.disc { /*top surface of disc (top half) that renders below pole*/
    background: var(--disc-main);
    position: absolute;
    /* size of ring, set font-size on style attribute to change disc size */
    font-size: 5em;
    /* scales based on perspective constants */
    width: var(--tower-dx);
    height: var(--tower-dy);
    border-radius: 100%;

    /* use flexbox to center hole */
    display: flex;
    justify-content: center;
    align-items: center;

    /* animate position changes */
    transition: top 1s ease-in-out;
}
.disc:before { /*hole in disc*/
    background: var(--disc-shadow);
    /* already centered thanks to flexbox */
    margin-top: 0;
}

.disc .bottom { /* vertical dimension of disc, renders above pole */
    background: var(--disc-shadow);
    position: relative;
    width: 100%;
    /* height must be same so border radius works properly. if you want them taller you'll need more elements */
    height: 100%;
    box-sizing: border-box;
    /* shift down to use non-rounded top as height portion*/
    top: 50%;
    
    /* elliptical borders on bottom only */
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    /* render above pole */
    z-index: 1;

    /* base hole size off constant global size*/
    font-size: var(--scale);
    /* cut out hole in the middle for pole to be visible */
    /* https://stackoverflow.com/a/63714881 */
    -webkit-mask: radial-gradient(ellipse calc(var(--tower-dx) / 2) calc(var(--tower-dy) / 2) at top, transparent 99%,#fff 100%);
    mask: radial-gradient(ellipse calc(var(--tower-dx) / 2) calc(var(--tower-dy) / 2) at top, transparent 99%,#fff 100%);
}

.disc .bottom:before { /* top surface of disc (bottom half) that renders above pole */
    content: ' ';
    background: var(--disc-main);
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;

    /* revert shift down from parent element */
    top: -50%;
    /* elliptical borders */
    border-radius: 100%;
}

/* shadow and higlights */
.disc, .disc .bottom:before, .pole:before {
    box-shadow: var(--hightlight)
}
.disc .bottom, .pole {
    box-shadow: var(--shadow), var(--hightlight)
}